body{
  background-color: #b3b3b3;
}

.calc-frame{
  margin: 50px auto;
  background-color: #006666;
  width: 310px;
  height: 340px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
  border: none;

}
.screen{
  background-color: #00b3b3;
  height: 28px;
  width: 280px;
  margin: 5px 0px 4px 10px;
  padding:0;
  text-align: right;
  font-size: 16px;
}

.btn{
  background-color: #e6e6e6;
  margin: 4px;
  width: 62px;
  height: 38px;
  font-size: 18px;
  color: #006666;
}
.buttons{
  margin-left:5px;
}

.header{
  font-size:22px;
  margin-left: 30px;
  color: #00b3b3;
  font-family:Lobster;
}